<div class="header" ng-controller="headerController">

  <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">The Hive Market</a>
            </div>
            
          
            <!-- /.navbar-header -->
<headeruser></headeruser>

<!--
            <ul class="nav navbar-top-links navbar-right">
               <li ng-if="!loggedIn"><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li ng-if="!loggedIn"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li ng-if="loggedIn"><a href="#/search"><span class="glyphicon glyphicon-log-in"></span> Hello {{userName}}</a></li>
                        <li ng-if="loggedIn"><a href="#/listings"><span class="glyphicon glyphicon-log-in"></span> Listings</a></li>
                        <li ng-if="loggedIn"><a href="#/" ng-click="doLogout()">Logout</a></li>
                        <li><a href="#/">Blog</a></li>
         
            </ul>
            <!-- /.navbar-top-links -->
             </nav>     <!-- end Navigation-->
             
             
             
       </div> <!-- header -->
     